<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    Home
                </li>

            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="sea">
                <form class="form-search">
                    <input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
                    <input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;" />

                </form>
            </div><!-- /.nav-search -->
        </div>


        <div class="page-content">
            <div class="space-10"></div>
            <!-- /.page-header -->
            <div class="container" id="homeBg">
                <div class="row">
                    &nbsp; &nbsp;&nbsp;<h4 class="homeTclass"><b class="fa fa-user-md" style="font-size:30px;color:#00334d"></b><b id="homeTitle"><a href="~/Home/addNewPatient">Welcome to Arthritis Care</a></b></h4>
                    <div class="col-sm-1"></div>
                    <div class="col-sm-5 ">
                        <div class="space-4"></div><br>
                        <p id="homePara">
                            <i class="fa fa-quote-left"></i>&nbsp;
                            Arthritis Care has been providing an outpatient diagnostic services to combine convenience and quality of care since 20__ under the supervision of <b>Dr. Nighat Mir Ahmad</b>.  Our practice is limited to Rheumatology. This includes arthritis, rheumatoid arthritis, gout, lupus, osteoarthritis, fibrositis, and certain muscle diseases. We are committed to providing quality, up-to-date medical care, in a compassionate environment.

                            &nbsp;<i class="fa fa-quote-right"></i>
                        </p>
                        <p id="homePara">Address:  132/3, Block L, DHA, Lahore</p>

                    </div>
                    <div class="col-sm-6">
                        <br>
                        <img id="homeImage" src="~/images/myImage/bhHome.jpg" />

                    </div>
                    <!-- /.col -->
                </div>
                <!-- /.row -->
                <br><br><br><br>
            </div>
            <!-- PAGE CONTENT ENDS -->
        </div><!-- /.col -->
    </div><!-- /.row -->
</div><!-- /.page-content -->
