			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a class="active" href="adminIndex.html">Home</a>
							</li>
							<li>
								
						Update Doctor
							</li>
							
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="sea">
							<form class="form-search">
									<input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
									<input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;"/>
								
							</form>
						</div><!-- /.nav-search -->
					</div>

                <div class="page-content">
<div class="space-10"></div>
                   <!-- /.page-header -->
                    <div class="container" id="homeBg">

                        &nbsp; &nbsp;&nbsp;<h4 class="patientTclass"><b class="fa fa-user-md" style="font-size:28px;color:#00334d"></b>&nbsp;&nbsp;&nbsp;Update Doctor</b></h4>
                        <br>
						<br>
                        <div class="row">
						
						<div class="col-sm-2"></div>					
                            <div class="col-sm-6">
								<h5 id="formTextDco" style="color:blue;">To Update Record, search Doctor by username</h5>
								<div class="space-4"></div>
                                <span class="input-icon">
                                    <input type="text" placeholder="UserName" />
                                    <i class="ace-icon fa fa-search nav-search-icon"></i>
                                </span>

                            </div>
						
                        </div>
                        <div class="space-20"></div>
                        <div class="row">
                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-4">
                                <label id="formTextDco">First Name  </label>
								<div class="space-4"></div>
                                <input type="text"><br><br>
                            </div>
                           
                            <div class="col-sm-4">
                                <label id="formTextDco">Last Name </label>
								<div class="space-4"></div>
                                <input type="text"><br><br>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-sm-2">

                            </div>

                            <div class="col-sm-4">
                                <label id="formTextDco">User Name </label>
								<div class="space-4"></div>
                                <input type="text"><br><br>
                            </div>
                            <div class="col-sm-4">
                                <label id="formTextDco">Password  </label>
								<div class="space-4"></div>
                                <input type="text"><br><br>
                            </div>
                        </div>

<div class="space-4"></div>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">
                                <label id="formTextDco">Category &nbsp;  &nbsp; &nbsp;  &nbsp; </label>
                                <select>
                                    <option id="formTextDco" value="admin">Admin</option>
                                    <option id="formTextDco" value="doctor">Doctor</option>

                                </select>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-4">
                                <label id="formTextDco">Qualification  </label>
								<div class="space-4"></div>
                                <input type="text">
								<div class="space-4"></div>
								<label id="specialLabel">Add another</label>
                            </div>
                        
                            <div class="col-sm-4">
                                <label id="formTextDco">Designation  </label>
								<div class="space-4"></div>
                                <input type="text">
								<div class="space-4"></div>
								<label id="specialLabel">Add another</label>
                            </div>
                        </div>
                        <br>
                        <div class="row">
                            <div class="col-sm-2">
                            </div>
                            <div class="col-sm-8">

                                <input id="submitButton" type="submit" value="Update" style="color:white;" />
                            </div>
                        </div>
                        <br><br><br><br>
                    </div>


                </div>

                <!-- /.col -->
                <!-- /.row -->

            </div>
        </div>
        <!-- PAGE CONTENT ENDS -->
  