
<div id="navbar" class="navbar navbar-default          ace-save-state">
        <div class="navbar-container ace-save-state" id="navbar-container">
            <button type="button" class="navbar-toggle menu-toggler pull-left" id="menu-toggler" data-target="#sidebar">
                <span class="sr-only">Toggle sidebar</span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>

                <span class="icon-bar"></span>
            </button>
            <div id="logoAlign">
                <a href="index" class="navbar-brand">
                    <small>
                        <img src="~/images/myImage/logoGIF.gif" width="40" height="28" />
                        Arthritis Care
                    </small>
                </a>
            </div>
            <!-- Right part of the header -->
            <div class="navbar-buttons navbar-header pull-right" role="navigation">
                <ul class="nav ace-nav">
                   
                    <!-- User Profile welcome and options dropdown-->
                    <li class="light-blue dropdown-modal">
                        <a data-toggle="dropdown" href="#" class="dropdown-toggle">
                            <img class="nav-user-photo" src="~/images/avatars/avatar2.png" alt="Jason's Photo" />
                            <span class="user-info">
                                <small>Welcome,</small>
                                <small id="userName">@ViewBag.username</small>
                            </span>
                            <i class="ace-icon fa fa-caret-down"></i>
                        </a>

                        <ul class="user-menu dropdown-menu-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close">
                           
                            <li>
                                <a href="~/Home/profile">
                                    <i class="ace-icon fa fa-user"></i>
                                    Profile
                                </a>
                            </li>

                            <li class="divider"></li>

                            <li id="logout">
                                <a href="">
                                    <i class="ace-icon fa fa-power-off"></i>
                                    Logout
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div><!-- /.navbar-container -->
    </div>

    
<script type="text/javascript">
        $(document).ready(function () {

            $('#logout').click(function () {
               var url="UserInfoData/signOut"
               MyWebApp.Globals.MakeAjaxCall("GET", url, {}, function (result) {
                   //alert("in22");
                   if (result.success === true) {
                           window.location.href = "../Login/index";

                   } else {
                       MyWebApp.UI.showRoasterMessage(result.error, Enums.MessageType.Error, 5000);
                   }
               }, function (xhr, ajaxOptions, thrownError) {
                   //debugger;
                   MyWebApp.UI.showRoasterMessage('There was a problem authenticating your credentials: "' + xhr.responseText + '". Please try again.', Enums.MessageType.Error);
               });
            });
            MyWebApp.UI.Main.readyMain();
        });
</script>