
<div class="main-container ace-save-state" id="main-container">
    <script type="text/javascript">
            try { ace.settings.loadState('main-container') } catch (e) { }
    </script>
    <div id="sidebar" class="sidebar                  responsive                    ace-save-state">
        <script type="text/javascript">
                try { ace.settings.loadState('sidebar') } catch (e) { }
        </script>

        <div class="sidebar-shortcuts" id="sidebar-shortcuts">
            <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">

                <button class="btn btn-success">
                    <a href="~/Home/addNewPatient">	<i class="ace-icon fa fa-user-plus " style="color:white"></i></a>
                </button>
                <button class="btn btn-warning">
                    <a href="~/Home/areaGenderReport"><i class="ace-icon fa fa-bar-chart" style="color:white"></i></a>
                </button>

                <button class="btn btn-danger">
                    <a href="~/Home/search">	<i class="ace-icon fa fa-search" style="color:white"></i></a>
                </button>
                <button class="btn btn-info">
                    <a href="~/Home/Help">	<i class="fa fa-question-circle" aria-hidden="true" style="color:white;font-size:22px"></i></a>
                </button>
            </div>

            <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
                <span class="btn btn-success"></span>

                <span class="btn btn-info"></span>

                <span class="btn btn-warning"></span>

                <span class="btn btn-danger"></span>
            </div>
        </div><!-- /.sidebar-shortcuts -->

        <ul class="nav nav-list">
            <li class="active">
                <a href="~/Home/index">
                    <i class="menu-icon fa fa-tachometer"></i>
                    <span class="menu-text"> Dashboard </span>
                </a>

                <b class="arrow"></b>
            </li>


            <li class="">
                <a href="~/Home/addNewPatient" id="sideBarText">
                    <i class="menu-icon fa fa-user-plus"></i>
                    <span class="menu-text"> Add new Patient</span>
                </a>

            </li>

            <li class="">
                <a href="~/Home/search" id="sideBarText">
                    <i class="menu-icon	fa fa-user-md" style="font-size:18px;color:black"></i>
                    <span class="menu-text" id="sideBarText">  Add Patient Visit </span>
                </a>
            </li>

            <li class="">
                <a href="~/Home/areaGenderReport" class="dropdown-toggle" id="sideBarText">
                    <i class="menu-icon fa fa-bar-chart"></i>
                    <span class="menu-text"> Reports </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu">
                    <li class="">
                        <a href="~/Home/areaGenderReport" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Area Wise Report
                        </a>

                        <b class="arrow"></b>
                    </li>
                    <li class="">
                        <a href="~/Home/GenderReport" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Gender Wise Report
                        </a>

                        <b class="arrow"></b>
                    </li>
                </ul>
            </li>


            <li class="">
                <a href="#" class="dropdown-toggle" id="sideBarText">
                    <i class="menu-icon fa fa-hospital-o"></i>
                    <span class="menu-text"> Modify Form </span>

                    <b class="arrow fa fa-angle-down"></b>
                </a>

                <b class="arrow"></b>

                <ul class="submenu" id="sideBarText">
                    <li class="">
                        <a href="~/Home/ModifyRos" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            ROS
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="~/Home/ModifyMedication" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Medications
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="~/Home/ModifyLabs" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            Labs
                        </a>

                        <b class="arrow"></b>
                    </li>

                    <li class="">
                        <a href="~/Home/ModifyPMH" id="sideBarText">
                            <i class="menu-icon fa fa-caret-right"></i>
                            PMH
                        </a>

                        <b class="arrow"></b>
                    </li>

                   


                </ul>
            </li>


            <li class="">
                <a href="~/Home/search" id="sideBarText">
                    <i class="menu-icon fa fa-search"></i>
                    <span class="menu-text"> Advance Search</span>
                </a>

                <b class="arrow"></b>
            </li>
            <li class="">
                <a href="~/Home/addNewPatient" id="sideBarText">
                    <i class="menu-icon fa fa-question-circle"  style="font-size:22px" ></i>
                    <span class="menu-text"> Help</span>
                </a>

                <b class="arrow"></b>
            </li>
        </ul><!-- /.nav-list -->

        <div class="sidebar-toggle sidebar-collapse" id="sidebar-collapse">
            <i id="sidebar-toggle-icon" class="ace-icon fa fa-angle-double-left ace-save-state" data-icon1="ace-icon fa fa-angle-double-left" data-icon2="ace-icon fa fa-angle-double-right"></i>
        </div>

    </div>
 