@section Header
{
    <script type="text/javascript" src="@Url.Content("~/Scripts/mywebapp/mywebapp.ui.addNewPatient.js")"></script>
  }
@section scripts
{
<script type="text/javascript">
        $(document).ready(function () {
            MyWebApp.UI.addNewPatient.readyMain();

        });
</script> 	

   }


<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="index.html">Home</a>
							</li>
							<li>	
								Add New Patient
							</li>
							
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="sea">
							<form class="form-search">
									<input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
									<input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;"/>
								
							</form>
						</div><!-- /.nav-search -->
					</div>
						
					<div class="page-content">					
							<div class="space-10"></div>
						<!-- /.page-header -->
						<div class="container" id="homeBg">	
							
							&nbsp; &nbsp;&nbsp;<h4 class="patientTclass"><b class="fa fa-user-plus" style="font-size:28px;color:#00334d"></b>&nbsp;&nbsp;&nbsp;Add New Patient</b></h4>
							<br><br>
                            <ul class="nav nav-tabs  tab-size-bigger">
                                <li class="active">
                                    <a data-toggle="tab" href="#basic">
                                        <span class="bigger-110">Basic Info</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#pmh">
                                        <span class="bigger-110">ROS/PMH</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#lab">
                                        <span class="bigger-110">Labs</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#meds">
                                        <span class="bigger-110">Meds/Disease</span>
                                    </a>
                                </li>
                                <li>
                                    <a data-toggle="tab" href="#assessment">
                                        <span class="bigger-110">Assessment</span>
                                    </a>
                                </li>
                            </ul>
                            
                            <div class="tab-content">
                                <div class="space-20"></div>
                                <div id="basic" class="tab-pane fade in active">
                                    
                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>

                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">First Name</label>
                                            <div class="space-4"></div>
                                           
                                            <input type="text"  id="fName"  /><br><br>
                                            
                                        </div>
                                        <div class="col-sm-4">
                                            <label id="formTextDco">Last Name </label>
                                            <div class="space-4"></div>
                                            <input type="text"id="lName"/><br><br>
                                        </div>
                                    </div>


                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">Phone #</label>
                                            <div class="space-4"></div>
                                            <input type="text"  id="phone" /><br><br>
                                        </div>
                                        <div class="col-sm-4">
                                            <label id="formTextDco">Age</label>
                                            <div class="space-4"></div>
                                            <input type="number"  id="age" min="0"><br><br>
                                        </div>
                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">

                                            <label id="formTextDco">City  </label><div class="space-4"></div>
                                            <input type="text" list="hosting-plan" id="city" />
                                            <datalist id="hosting-plan"></datalist>
                                            <br><br>

                                        </div>

                                        <div class="col-sm-4">
                                            <label id="formTextDco">Gender   </label><div class="space-4"></div>
                                            <select id="gender">
                                                <option value=""></option>
                                                <option value="Male">Male</option>
                                                <option value="Female">Female</option>
                                                <option value="Female">Other</option>
                                            </select>
                                           <br><br>
                                        </div>
                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-9">
                                            <label id="formTextDco">CC&nbsp;</label>
                                            <div class="space-4"></div>
                                            <textarea  id="cc" style="width:80%" rows="6"></textarea><br><br>
                                        </div>

                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">P/H </label>
                                            <div class="space-4"></div>
                                            <textarea id="ph" style="width:80%" rows="6"></textarea>
                                            <br><br>
                                        </div>

                                        <div class="col-sm-4">
                                            <label id="formTextDco">F/H</label>
                                            <div class="space-4"></div>
                                            <textarea id="fh" style="width:80%" rows="6"></textarea><br><br>
                                        </div>

                                    </div>
                                    </div>
                              
                                <div id="pmh" class="tab-pane fade">
                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">ROS</label>
                                            <div class="space-4"></div>
                                            <div id="RosList">

                                            </div>
                                            <br>
                                        </div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">PMH</label>
                                            <div class="space-4"></div>
                                            <div id="PmhList">

                                            </div>
                                            <br>
                                        </div>

                                    </div>
                                    </div>
                                <div id="lab" class="tab-pane fade">
                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-4">
                                            <label id="formTextDco">Labs</label>
                                            <div class="space-4"></div>
                                            <div id="UnaryLabs">

                                            </div>
                                            <br><br>
                                        </div>

                                        <div id="colAlign" class="col-sm-4">

                                            <label id="formTextDco"></label>
                                            <div class="space-4"></div>
                                            <div id="BinaryLab">

                                            </div>
                                        </div>


                                    </div>
                                    </div>
                                <div id="meds" class="tab-pane fade">
                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <div class="space-4"></div>
                                            <label id="formTextDco">Present Meds</label>
                                            <div id="MedList">

                                            </div>
                                        </div>
                                        <div class="space-8"></div>
                                        <div class="col-sm-4">

                                            <label id="formTextDco">Disease Indicator</label>
                                            <div class="space-4"></div>
                                            <label>TJC</label><div class="space-4"></div>
                                            <input type="number" id="tjc" min="0" /><br><br>
                                            <label>SJC </label><div class="space-4"></div>
                                            <input type="number" id="sjc" min="0"><br><br>
                                            <label>VAS</label><div class="space-4"></div>
                                            <input type="number" id="vac" min="0" /><br><br>
                                            <label>DAS 28 </label><br>
                                            <input type="number" id="das28" min="0"><br><br>
                                            <div class="space-20"></div>

                                            <label><b>Disease</b></label>
                                            <div id="DiseaseList"></div>

                                        </div>

                                    </div>
                                    </div>
                                <div id="assessment" class="tab-pane fade">

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">Systolic BP</label>
                                            <div class="space-4"></div>
                                            <input type="number" id="systolicBP" min="0" /><br><br>
                                        </div>
                                        <div class="col-sm-4">
                                            <label id="formTextDco">Diastolic BP </label>
                                            <div class="space-4"></div>
                                            <input type="number" id="diastolicBP" min="0" /><br><br>
                                        </div>
                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-5">

                                            <label id="formTextDco">Weight</label>
                                            <div class="space-4"></div>
                                            <input type="number" id="weight" min="0" />&nbsp;
                                            <select id="weightType">
                                                <option value="kg">Kg</option>
                                                <option value="ponds">Ponds</option>
                                            </select><br><br>
                                        </div>
                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div id="colAlign" class="col-sm-4">
                                            <label id="formTextDco">General </label>
                                            <div class="space-4"></div>
                                            <textarea id="general" style="width:80%" rows="6"></textarea><br />
                                        </div>
                                        <div class="col-sm-4">
                                            <label id="formTextDco">Systemic </label>
                                            <div class="space-4"></div>
                                            <textarea id="systemic" style="width:80%" rows="6"></textarea><br />
                                        </div>


                                    </div>

                                    <div id="formAlign" class="row">
                                        <div class="col-sm-3"></div>
                                        <div class="col-sm-9">
                                            <label id="formTextDco">Assessment/Plan</label>
                                            <div class="space-4"></div>
                                            <textarea id="treatmentPlan" style="width:80%" rows="6"></textarea><br><br>
                                        </div>
                                    </div>
                                        <div id="formAlign" class="row">
                                            <div class="col-sm-3"></div>
                                            <div class="col-sm-8">

                                                <input type="submit" id="submitButton" value="Save" class="submitButton" style="color:white" /> &nbsp;&nbsp;&nbsp;&nbsp;
                                                <input type="submit" id="printHis" value="Print" class="submitButton" style="color:white" />
                                                <!--&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/testListView" style="color:blue;font-size:16px;"><b><u>Conduct Disease Indicating Test<u></b></a>-->
                                                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <button id="disease">Compute disease Activity Indicators</button>
                                            </div>
                                        </div>
                                    
                                    </div>
                                </div>
                                <div class="space-30"></div>
                            </div>
						
											
							</div>
																																															
								<!-- /.col -->
								
						<!-- /.row -->
						
						</div>
						</div>
<!--------Model pop UP------>
<div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title" style="color:red">Warning</h4>
            </div>
            <div class="modal-body">
                <p style="font-size:16px;" id="modelPara">Please Fill All Fileds With Valid Data!</p>
            </div>
           
        </div>
    </div>
</div>

    <!-- PAGE CONTENT ENDS -->
    <!--Handle Bars for this page-->
    <!--Handle bar to dipslay Ros-->
    <script id="RosListDisplaytemplate" type="text/x-handlebars-template">
        {{#each rosList}}
        <input type="checkbox" name="{{rosName}}" />&nbsp; {{rosName}}
        <br>
        {{/each}}

    </script>
    <!--Handle bar to dipslay PMH-->
    <script id="pmhListDisplaytemplate" type="text/x-handlebars-template">
        {{#each pmhList}}
        <input type="checkbox" name="{{pmhName}}" />&nbsp; {{pmhName}}
        <br>
        {{/each}}

    </script>

    <!--Handle bar to dipslay Unary Lab-->
    <script id="UnaryLabListDisplaytemplate" type="text/x-handlebars-template">
        {{#each commonLab}}
        {{#if_eq labType "Unary"}}
        {{labName}}
        <div class="space-4"></div>
        <input type="text" name="{{labName}}" />
        <div class="space-4"></div>
        {{else}}
        {{/if_eq}}
        {{/each}}

        {{#each historyLab}}
        {{#if_eq labType "Unary"}}
        {{labName}}
        <div class="space-4"></div>
        <input type="text" name="{{labName}}" />
        <div class="space-4"></div>
        {{else}}
        {{/if_eq}}
        {{/each}}

    </script>

    <!--Handle bar to dipslay Binary Lab List-->
    <script id="BinaryLabListDisplaytemplate" type="text/x-handlebars-template">
        {{#each commonLab}}
        {{#if_eq labType "Binary"}}
        {{labName}}
        <div class="space-4"></div>
        <fieldset id="{{labName}}">
            <input type="radio" name="{{labName}}" value="positive"/> Positive &nbsp;&nbsp;
            <input type="radio" name="{{labName}}" value="negative"/> Negative
            <div class="space-4"></div>
         </fieldset>
        <input type="text" name="{{labName}}" />
        <div class="space-10"></div>
        {{else}}
        {{/if_eq}}
        {{/each}}

            {{#each historyLab}}
            {{#if_eq labType "Binary"}}
            {{labName}}
        <div class="space-4"></div>
        <fieldset id="{{labName}}">
            <input type="radio" name="{{labName}}" value="positive"/> Positive &nbsp;&nbsp;
            <input type="radio" name="{{labName}}" value="negative"/> Negative
            <div class="space-4"></div>
        </fieldset>
        <input type="text" name="{{labName}}" />
        <div class="space-12"></div>
        {{else}}
        {{/if_eq}}
        {{/each}}

</script>

    <!--HandleBar code to display List of medicines-->
    <script id="MedicineListDisplaytemplate" type="text/x-handlebars-template">
        {{#each commonMed}}
        <div class="space-4"></div>
        {{medName}}
        <div class="space-4"></div>
        <input type="text" name="{{medName}}" />
        <div class="space-4"></div>
        <fieldset id="{{medName}}">
            <input type="radio" name="{{medName}}" value="Injection" /> Injection &nbsp;&nbsp;
            <input type="radio" name="{{medName}}" value="Tablet" /> Tablet
            <div class="space-6"></div>
        </fieldset>
            {{/each}}
            {{#each historyMed}}
            <div class="space-4"></div>
            {{medName}}
            <div class="space-4"></div>
            <input type="text" name="{{medName}}" />
            <div class="space-4"></div>
        <fieldset id="{{medName}}">
            <input type="radio" name="{{medName}}" value="Injection" /> Injection &nbsp;&nbsp;
            <input type="radio" name="{{medName}}" value="Tablet" /> Tablet
            <div class="space-6"></div>
        </fieldset>
            {{/each}}

</script>

    <!--HandleBar code to display List of disease-->
    <script id="DiseaseListDisplaytemplate" type="text/x-handlebars-template">
        {{#each disease}}
        <div class="space-4"></div>
        <input type="checkbox" name="{{diseaseName}}" />&nbsp; {{diseaseName}}
        {{/each}}

    </script>

    <!--Custom handleBar function to compare strings -->
    <script type="text/javascript">
    Handlebars.registerHelper('if_eq', function (a, b, opts) {
        if (a == b)
            return opts.fn(this);
        else
            return opts.inverse(this);
    });
    </script>
