<div class="main-content">
    <div class="main-content-inner">
        <div class="breadcrumbs ace-save-state" id="breadcrumbs">
            <ul class="breadcrumb">
                <li>
                    <i class="ace-icon fa fa-home home-icon"></i>
                    <a href="~/Home/index">Home</a>
                </li>
                <li>
                    <a href="~/Home/search">Search</a>
                </li>
                <li>
                    FAQs
                </li>


            </ul><!-- /.breadcrumb -->

            <div class="nav-search" id="sea">
                <form class="form-search">
                    <input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
                    <input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;" />

                </form>
            </div><!-- /.nav-search -->
        </div>

        <div class="page-content">
            <div class="space-10"></div>
            <!-- /.page-header -->
            <div class="container" id="homeBg">
                &nbsp; &nbsp;&nbsp;<h4 class="patientTclass"><b class="menu-icon fa fa-question-circle" style="font-size:28px;color:#00334d"></b>&nbsp;&nbsp;&nbsp;FAQs</b></h4>
                <div class="space-10"></div>
                <div class="row">
                    <div class="col-sm-2"></div>
                    <div class="col-sm-8">
                        <ul>
                            <li>

                                <a href="#q1" class="labelText">1. How to add your new patient?</a>


                                <div id="q1">
                                    After successfull login, you will be able to add a new patient by clicking "ADD NEW PATIENT" in side bar.
                                    After entering the required information you will be able to save and print the entered information.
                                </div>

                            </li>
                            <li>

                                <a href="#q2" class="labelText">1. How to add new visit of your patient?</a>


                                <div id="q2">
                                    Once you login successfully you will be able to add new visit of your patient by clicking on "ADD New Visit"

                                </div>

                            </li>
                            <li>

                                <a href="#q3" class="labelText">1. How to edit your profile?</a>


                                <div id="q3">
                                    you will be able to edit your profile by clicking on your name in menu bar
                                    and selecting "profile" in the drop down menu and entering the required information.

                                </div>

                            </li>
                            <li>

                                <a href="#q4" class="labelText">1. How to search your patient?</a>


                                <div id="q4">
                                    You can search your patient from the search bar on the top of the page on the basis of his first name.

                                </div>

                            </li>

                            <li>

                                <a href="#q5" class="labelText">1. How to modify your patient's prescription?</a>


                                <div id="q5">
                                    From the menu in side bar you can modify your patients prescription

                                </div>

                            </li>
                            <li>

                                <a href="#q6" class="labelText">1. How to get statistocal report on the basis of area and gender?</a>


                                <div id="q6">
                                    you can view 'Area and Gender wise report' from the side bar menu.
                                </div>

                            </li>


                            <li>

                                <a href="#q7" class="labelText"> Advanced search </a>


                                <div id="q7">
                                    Advanced search will help you to search patient with different attributes.
                                    e.g Patient's ID, Phone number, First name, Area, Last name, Visit date
                                </div>

                            </li>


                        </ul>
                    </div>
                </div>
                <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
            </div>


        </div>

        <!-- /.col -->
        <!-- /.row -->

    </div>
</div>




