<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="home.html">Home</a>
							</li>
							<li>
								
								Advance Search
							</li>
							
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="sea">
							<form class="form-search">
									<input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
									<input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;"/>
								
							</form>
						</div><!-- /.nav-search -->
					</div>
					<div class="page-content">	
					<div class="space-10"></div>
					<!-- /.page-header -->
						<div class="container" id="homeBg">	
							
							&nbsp; &nbsp;&nbsp;<h4 class="patientTclass"><b class="menu-icon fa fa-hospital-o" style="font-size:28px;color:#00334d"></b>&nbsp;&nbsp;&nbsp;Prescription </b></h4>
							<div class="space-10"></div>
							
								<br><br><br>
							<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Name"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Dose" style="width: 10em"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-2">
							<label><b>Timings<b></label><div class="space-2"></div>
						     <input type="checkbox" name="lab_result" value="positive"> Morning<br>
							  <input type="checkbox" name="lab_result" value="positive"> Noon<br>
							   <input type="checkbox" name="lab_result" value="positive"> Evening<br>
									<div class="space-10"></div>		
							</div>
							<div class="col-sm-3">
							<label><b>Duration<b></label><div class="space-2"></div>
						    <input type="number" value="1" style="width: 4em" min="1"/>
							<select id="dropdown" >						 
							  <option value="Days">Days</option>
							  <option value="Weeks">Weeks</option>	
								<option value="Months">Months</option>		
							</select>
							
								<div class="space-10"></div>			
							</div>	</div>
							<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Name"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Dose" style="width: 10em"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-2">
							<label><b>Timings<b></label><div class="space-2"></div>
						     <input type="checkbox" name="lab_result" value="positive"> Morning<br>
							  <input type="checkbox" name="lab_result" value="positive"> Noon<br>
							   <input type="checkbox" name="lab_result" value="positive"> Evening<br>
									<div class="space-10"></div>		
							</div>
							<div class="col-sm-3">
							<label><b>Duration<b></label><div class="space-2"></div>
						    <input type="number" value="1" style="width: 4em" min="1"/>
							<select id="dropdown" >						 
							  <option value="Days">Days</option>
							  <option value="Weeks">Weeks</option>	
								<option value="Months">Months</option>		
							</select>
							
								<div class="space-10"></div>			
							</div>	</div>
						
							<div class="row">
							<div class="col-sm-1"></div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Name"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-3">
						     <input type="text" placeholder="Medicine Dose" style="width: 10em"/>
						<div class="space-10"></div>
											
							</div>
							<div class="col-sm-2">
							<label><b>Timings<b></label><div class="space-2"></div>
						     <input type="checkbox" name="lab_result" value="positive"> Morning<br>
							  <input type="checkbox" name="lab_result" value="positive"> Noon<br>
							   <input type="checkbox" name="lab_result" value="positive"> Evening<br>
									<div class="space-10"></div>		
							</div>
							<div class="col-sm-3">
							<label><b>Duration<b></label><div class="space-2"></div>
						    <input type="number" value="1" style="width: 4em" min="1"/>
							<select id="dropdown" >						 
							  <option value="Days">Days</option>
							  <option value="Weeks">Weeks</option>	
								<option value="Months">Months</option>		
							</select>
							
								<div class="space-10"></div>			
							</div>	</div>
						
                        <div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
						<label id="specialLabel">Add another</label>
						</div>
						</div>	
						<div class="space-8"></div>		
						  <div class="row">
						<div class="col-sm-1"></div>
						<div class="col-sm-10">
						<label><b>Other</b></label>
						<div class="space-4"></div>		
						<textarea id="tarea1" style="width:100%" rows="6" >
							</textarea>
						</div>
						</div>	
						
						<div class="space-8"></div>		
						  <div class="row">
						<div class="col-sm-5"></div>
						<div class="col-sm-5">
						<input id="submitButton" type="submit" value="Save" style="color:white;"/>
						&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="~/Home/testListView" style="color:blue;font-size:16px;"><b><u>Conduct Disease Indicating Test<u></b></a>
						
						</div>
						</div>	
											
								<!-- /.col -->
								
						<!-- /.row -->
						<div class="space-30"></div>		
						</div>
						
								<!-- PAGE CONTENT ENDS -->
						
					</div><!-- /.page-content -->
				<!-- /.main-content -->
			
