			<div class="main-content">
				<div class="main-content-inner">
					<div class="breadcrumbs ace-save-state" id="breadcrumbs">
						<ul class="breadcrumb">
							<li>
								<i class="ace-icon fa fa-home home-icon"></i>
								<a href="home.html">Home</a>
							</li>
							<li>
								
								Advance Search
							</li>
							
						</ul><!-- /.breadcrumb -->

						<div class="nav-search" id="sea">
							<form class="form-search">
									<input type="text" placeholder="Search Patient..." class="nav-search-input" id="nav-search-input" />
									<input type="submit" id="searchBtn" class="fa" style="font-size:18px;color:#00334d" value="&#xf002;"/>
								
							</form>
						</div><!-- /.nav-search -->
					</div>
					<div class="page-content">	
					<div class="space-10"></div>
					<!-- /.page-header -->
						<div class="container" id="homeBg">	
							
							&nbsp; &nbsp;&nbsp;<h4 class="patientTclass"><b class="menu-icon fa fa-hospital-o" style="font-size:28px;color:#00334d"></b>&nbsp;&nbsp;&nbsp;Disease Activity Score </b></h4>
							<div class="space-10"></div>
							<div class="row">
							<div class="col-sm-3"></div>
							<div class="col-sm-7" id="colBg" >
							<div class="space-20"></div>
							
							<div class="space-6"></div>
							<a href="~/DiseaseTest/asdas" target="_blank" id="styleTest">ASDAS</a><div class="space-4"></div>
							<a href="~/DiseaseTest/cdai" target="_blank" id="styleTest">CDAI</a><div class="space-4"></div>
							<a href="~/DiseaseTest/das28"target="_blank"  id="styleTest">DAS28</a><div class="space-4"></div>
							<a href="~/DiseaseTest/sle"target="_blank"  id="styleTest">SLE</a><div class="space-4"></div>
							<a href="~/DiseaseTest/dapsa"target="_blank"  id="styleTest">DAPSA</a><div class="space-4"></div>
							<a href="~/DiseaseTest/sdai" target="_blank" id="styleTest">SDAI</a><div class="space-4"></div>
							<a href="~/DiseaseTest/basdai" target="_blank"  id="styleTest">BASDAI</a><div class="space-4"></div>
							</div>

							</div>
								<!-- /.col -->
								
						<!-- /.row -->
						<div class="space-30"></div>		
						</div>
						
						
								<!-- PAGE CONTENT ENDS -->
					</div><!-- /.page-content -->
				<!-- /.main-content -->

